header {
    background-color: white;
    position: absolute;
    z-index: 1;
}

header nav {
    font-family: 'Roboto', sans-serif;
}

header, nav, ul {
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav li {
    margin: 1.3rem 2rem;
    padding: .2rem;
}

header nav li.selected {
    border-bottom: 1px solid black;
}

main {
    background: rgb(85,94,219);
    background: linear-gradient(120deg, rgba(85,94,219,1) 0%, rgba(87,118,227,1) 35%, rgba(94,194,245,1) 100%);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    color: white;

    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    min-height: 680px;
}

main h1 {
    margin-top: 7rem;
    font-family: 'Fugaz One', cursive;
    font-size: 6rem;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 3rem;
    font-weight: 100;
}

main button {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    color: white;

    padding: 1.1rem 2.6rem;
    margin-top: 7rem;

    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
}

.section-header {
    font-family: 'Fugaz One', cursive;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
    padding: 5rem 10rem;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
}

#about-me > div {
    display:flex;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
    margin-bottom: 10rem;
}

#about-me > p {
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2) !important;
    color: #5BA8EE !important;
    margin-bottom: 2rem;
}

.li-header, .li-desc {
    font-family: 'Inconsolata', monospace;
    font-weight: 100;
}

.li-header {
    color: #003A9B;
    font-size: 2.4rem;
    margin-bottom: 1.8rem;
}

.li-desc {
    color: #001435;
    font-size: 1.4rem;
    word-break: break-word;
}

#about-me li {
    margin-bottom: 8rem;
}

#about-me div > ul > li:nth-child(3) {
    margin-bottom: 0rem;
}

#divider {
    border: 1px solid #588EE8;
    height: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
}

#about-me div ul, #about-me #images {
    width: 49%;
}

#about-me #images {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me #images img {
    width: 70%;
}

#about-me #images img:first-child {
    margin-bottom: 10%;
}

#gredient-holder {
    overflow: hidden;
    background: rgb(85,94,219);
    background: linear-gradient(120deg, rgba(85,94,219,1) 0%, rgba(87,118,227,1) 35%, rgba(94,194,245,1) 100%);
}

#gredient-holder #about-me {
    background: white !important;
}

#my-work {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8rem 0rem;

    z-index: 3;
    position: relative;
}

#my-work .section-header {
    margin-bottom: 5rem;
    text-align: center;
}

#cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    left: -25px;
}

#empty {
    width: 25px;
}

#dots {
    margin-left: 25px;
}

.relative-holder {
    position: relative;
}

.card {
    width: 22%;
    height: 31.5rem;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 3.5rem 4.5rem;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    font-weight: 100;
    color: #001435;

    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 12px 11px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(12px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 395px;
    
    border-radius: 13px;
    /* border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(120deg, rgba(91,156,236,1) 0%, rgba(94,194,245,0) 100%) 1; */
    background-clip: padding-box;
    border: solid 3px transparent;
}

.card-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #003A9B;
    margin-bottom: 3.5rem;
}

.card-description {
    margin-bottom: 3rem;
}

.primary-button {
    background: linear-gradient(265.55deg, #1761DD 0%, #2F5698 100%);
    border-radius: 13px;
    padding: 1rem 2rem;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
}

.card button {
    width: 100%;
    margin-bottom: .5rem;
}

.card a {
    font-style: italic;
    font-weight: 300;
    color: #02313C;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.dot {
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
}

.dot.filled {
    background-color: white;
}

.dot:nth-child(2){
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

#left-blob {
    position: absolute;
    bottom: 0px;
    margin-left: 10%;
}

#right-blob {
    position: absolute;
    right: 0px;
}


#lets-talk {
    height: 100vh;
    background-color: #1C2A8D;
    padding: 8rem 0rem;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lets-talk .section-header {
    text-align: center;
    margin-bottom: 4rem;
}

#lets-talk form {
    height: 500px;
    background: #f7f7f7;
    border-radius: 12px;
    width: 800px;
    overflow: hidden;
}

#lets-talk #form-inner {
    width: 100%;
    height: 410px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

#lets-talk textarea {
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    border: none;
    padding: 3rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
}

#lets-talk #button-holder {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    padding: 1rem;
}

@media screen and (max-width:1650px){
    .li-header {
        font-size: 2.2rem;
    }

    .li-desc {
        font-size: 1.2rem;
    }

    #about-me #images {
        justify-content: space-evenly;
    }

    #about-me {
        padding: 5rem 2rem;
    }
}

@media screen and (max-width:1050px){
    #divider, #images {
        display: none !important;
    }

    #about-me li {
        margin-bottom: 4rem;
    }

    main {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #about-me {
        min-height: fit-content;
        height: fit-content !important;
    }
}

@media screen and (max-height: 900px) {
    #about-me {
        min-height: fit-content;
        height: fit-content !important;
    }

    #divider, #images {
        display: none !important;
    }

    h1 {
        font-size: 4rem !important;
    }

    h2 {
        font-size: 2.3rem !important;
    }

    nav ul {
        font-size: 1rem;
    }

    main button {
        font-size: 1rem;
        padding: 1rem 2.3rem;
    }
}

@media screen and (max-width:950px){
    h1 {
        font-size: 4.5rem !important;
        text-align: center;
    }

    h2 {
        font-size: 2rem !important;
    }

    main button {
        font-size: 1rem;
        padding: 1rem 2.3rem;
    }

    main {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    #about-me {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
}

@media screen and (max-height: 750px){
    main {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    #about-me {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
}

@media screen and (max-width: 790px) {
    .section-header {
        font-size: 3rem;
    }

    .li-header {
        font-size: 1.8rem;
    }

    .li-desc {
        font-size: 1.2rem;
    }

    #about-me > div, #about-me > div ul {
        width: 100%;
    }

    #lets-talk form {
        width: 500px !important;
    }

    #lets-talk textarea {
        font-size: 1.3rem;
    }

    #lets-talk button {
        font-size: .8rem;
    }
}

@media screen and (max-width: 550px) {
    #lets-talk form, #form-inner {
        width: 100% !important;
        border: none !important;
        border-radius: 0px !important;
    }

    #lets-talk textarea {
        font-size: 1.3rem;
    }

    #lets-talk button {
        font-size: .8rem;
        width: 100%;
    }

    #lets-talk {
        padding-bottom: 0px !important;
        height: fit-content;
    }
}

@media screen and (max-width:720px){
    h1 {
        font-size: 3rem !important;
    }

    h2 {
        font-size: 1.8rem !important;
    }

    nav ul {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:350px){
    h1 {
        font-size: 2.3rem !important;
    }

    h2 {
        text-align: center;
        font-size: 1.4rem !important;
    }

    main button {
        font-size: .9rem;
        padding: .7rem 2rem;
        border-radius: 10px;
        border-width: 2px;
    }

    .section-header {
        font-size: 2.2rem;
    }

    .li-desc {
        font-size: 1rem;
    }

    .li-header {
        font-size: 1.4rem;        
    }

    #lets-talk textarea {
        font-size: 1rem !important;
    }

    #lets-talk button {
        font-size: .7rem !important;
    }
}

@media screen and (max-width: 1050px) {
    #lets-talk form {
        width: 650px;
    }

    #lets-talk textarea {
        font-size: 1.4rem;
    }

    #lets-talk button {
        font-size: 1rem;
    }
}

@media screen and (max-height: 930px) {
    #lets-talk {
        height: fit-content !important;
    }
}

@media screen and (max-width: 1450px) {
    .card-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .card-description {
        font-size: 1.1rem;
    }

    .card {
        padding: 3rem 3rem !important;
        min-width: 300px !important;
        height: 25rem !important;
    }

    .card button {
        font-size: .8rem;
    }

    .card a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1160px) {
    .card {
        margin: 2rem;
    }

    #cards {
        left: 0px;
        flex-wrap: wrap;
    }

    .empty, #dots {
        display: none;
    }

    #my-work {
        height: fit-content;
        min-height: fit-content;
    }
}